.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #454545;
  min-height: 100vh;
  background-image: url("/bgcolor.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.container {
  display: flex;
  column-gap: 20px;
}
